---
---

@import "{{ site.theme }}";

a {
 color:#8e244d;
}
a:hover,
a:focus {
 color:#8e244d;
}
a small {
 color:#8e244d;
}
a:hover small {
 color:#8e244d
}

body {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 105%;
}

h1, h2, h3, h4, h5, h6 {
 letter-spacing: -0.08em;
}

header h1 a {
 font-size: 1.2em;
}
